{% extends "django_oauth2_lite/base.html" %}
{% block title %}Authorization{% endblock %}
{% block body %}
<h1>Application Authorization Request</h1>
<p>An external application wants access to your information on this service</p>

<div>
    <div class="left">
		<h2>{{client.name}}</h2>
		<p>{{client.description}}</p>
	</div>
	<div class="right">
		{% for scope in scopes.all %}
		<h3>{{scope.name}}</h3>
		<p>{{scope.description}}</p>
		{% endfor %}
	</div>
</div>
<div style="clear: both;"></div>
<div>
	<form method="POST">{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}