{% extends "django_oauth2_lite/base.html" %}
{% block title %}Clients{% endblock %}
{% block body %}
<h1>OAuth2 Clients</h1>
<div class="oauth2-clients">
{% for client in client_list %}
   <div class="oauth2-client">
      <h3 class="listheader oauth2-client-name">{{client.name}}</h3>
      <div>
      	<dl>
      		<dt>client_id</dt>
      		<dd>{{client.client_id}}</dd>
      		<dt>client_secret</dt>
      		<dd>{{client.client_secret}}</dd>
      	</dl>
      	{% if client.description %}
      	<p>{{client.description}}</p>
      	{% endif %}
      	<ul class="buttons">
      		<li class="button"><a href="client/{{client.id}}/remove">Remove</a></li>
      		<li class="button"><a href="client/{{client.id}}/test">Test</a></li>
      	</ul>
      </div>
  </div>
{% empty %}
<p>You have no registered OAuth2 clients right now...</p>
{% endfor %}
</div>
<ul class="buttons">
	<li class="button"><a href="client/add">Add Client</a></li>
	<li class="button"><a href="scopes">Application Scopes</a></li>
</ul>
{% endblock %}