{% extends "django_oauth2_lite/base.html" %}
{% block title %}Example Redirect URI{% endblock %}
{% block body %}
<h1>OAuth2 scopes</h1>
<p>The following scopes are defined by this service.</p> 
<div class="scopes">
{% for scope in scope_list %}
	<div class="scope">
		<h3 class="scope-title">{{scope.name}}</h3>
		<div class="scope-body">
			{% if scope.description %}
			<p>{{scope.description}}</p>
			{% endif %}
			{% if scope.uri %}
			<a href="{{scope.uri}}">read more...</a>
			{% endif %}
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}